HTML {
  background-color: #05132D;      
}

body {}

.picture {
background-image: url(../assets/7036557-city-night-photography-11058.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%;
    width: 100%;
    min-height: 200px;
    height: 200px;
}

.text-in-picture {
position: relative;
top: 30px;
padding-left: 10%;    
}

.topbar {
background-color: #05132D;
height: 30px;    
}


.menu{    
margin-top:2px;    
color: white;
}

.name{
margin:auto;
margin-top:2px;
color: white;
text-align: center;    
}

.dropdown {
position: relative;
display: inline-block;
/*min-width: 150px;*/    
text-align: center;    
cursor: pointer;
/*min-height: 70px;*/
/*left: 20px;
top: 20px;  */  
z-index: 99;   
/*min-width: 210px;*/ 
    
}

.dropbtn {
    
background-color: #05132D;
/*box-shadow: 2px 2px 2px #05132D;*/   
/*font-size: 15px; */
color: white; 
/*position: relative;
text-align: center; */
/*border: 1px solid black;*/
/*min-width: 210px;
width: 230px; */ 
height: 30px;    
    
}   

.dropdown-content {
    display: none;
    top: 30px;
    position: absolute;
    background-color: dimgrey;
    width: 30px;
    min-width: 210px;
    border: 1px solid #05132D; 
    box-shadow: 2px 2px 2px #05132D;*/
    color: #05132D;
    min-height: 50px; 
    /*text-shadow: none;*/ 
    
}

.dropdown-content a {
   /* color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;*/
    display: block;
  /*  border-top: 1px solid #05132D;
    text-align: left;*/
    
}

.dropdown-content a:hover {
    border-left: 10px solid #05132D;

}

/*.dropbtn a:hover {background-color: #f1f1f1}*/

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropbtn:hover {
    /*background-color: #3e8e41;
    opacity: 0.8; */
}

.skills-area {
background-color: cadetblue;    
padding: 40px;
padding-bottom: 40px; 
padding-left: 10px;
padding-right: 10px;   
}

.skills-1 {

/*padding-top: 10px;*/
padding-bottom: 20px; 
    
}

.skills-2 {
    
padding-top: 20px;
padding-bottom: 10px;    
    
}

.skillName:{


    
}

@media only screen and (max-width: 540px) {
    /* For mobile phones: */
    .icon: {
        margin-bottom: 10px;
        
    }
    
}
    


.projects-area {
margin: auto;  
background-color: cornflowerblue;    
}

.projects-title{
margin:auto;    
}

.carousel{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

 /* Fading animation */  
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
