HTML {
    width: 100%;    
}

body {
    margin: 0px;
    width: 100%;    
}

body, html {
    
    height: 100%;
    width: 100%;    
}

.topbar {

    height: 15%;
    min-height: 15%;
    position:relative; 

}

#topbar-waypoint {
    opacity: 0.1;   
}

.topname {    
    display: inline-block;
    position: absolute;
    font-size: 200%;    
    min-width: 66%;
    left: 4%;  
    color: #05132D;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#topname-waypoint {
  /*   opacity: 0.1;*/
}

#firstname {
    color: #05132D; 
}

#lastname {
    color: darkred;
}

.topcontactbutton {
    right: 5%;
    display: inline-block;
    position: absolute;
    min-width: 33%;
    text-align: right;
    top: 50%;
    transform: translate(0, -50%);
   
} 

#topcontact {
    color: #05132D;  
    /* opacity: 0.1;*/
}

.pic1 {
background-image: url(../assets/7036557-city-night-photography-11058.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;  
    width: 100%;
    min-height: 85%;
    height: 85%;
    color: white;
    font-size: 220%;
    text-align: left;
    padding-left: 7%;
    padding-top: 35%;
    opacity: 0.1;

}

.introtext {

    min-height: 85%;
    height: 85%;
    padding-left: 7%;
    padding-top: 12%;
    font-size: 220%;    
    color: #05132D;
}

#introtext-waypoint {
    opacity: 0.4;
}

.pic2 {
    background-image: url(../assets/6926839-hi-tech-keyboard.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;  
    width: 100%;
    min-height: 85%;
    height: 85%; 
    color: white;
    font-size: 220%;
    text-align: left;
    padding-left: 7%;
    padding-top: 12%;
    opacity: 0.3;
}

.skills-desktop {
    min-height: 85%;
    height: 85%; 
}


.skills-table {
    margin-top: 4%;
    width: 100%;
    max-height: 100%;
    opacity: 0.4;
    }  

.row {
    max-height: 30%;
}

.skill {
    min-width: 33%;
    display: table-cell; 
}

.skill img {
    margin: auto;
    display: block;
    margin:auto;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 100px;
    width: 100px;  
   
}

.jqueryicon {
    margin-top: 2%;
}

.skills-title{
    color: #05132D;
    text-align: left; 
    margin-top: 3%; 
    font-size: 220%;
    padding-left: 2%;  
}


.skill-caption {
    min-width: 33%;
    display: table-cell; 
    text-align: center;
    margin-bottom: 3%;
    font-size: 150%;
    color:#05132D;
    
}   

.skills-mobile {
    min-height: 85%;
    height: 85%; 
    display: none; 
    
}

.pic3 {
   background-image: url(../assets/codingnumbers.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;  
    width: 100%;
    min-height: 85%;
    height: 85%;
    opacity:0.3;
    
    
}

.projects-desktop {
    min-height: 150%;
    height: 150%;    
}

#projects-intro-text {
    margin-top: 3%; 
    font-size: 220%;
    padding-left: 2%;
    color: #05132D;
}

.projects-table {
    margin-top: 3%;
    width: 100%;
    max-height: 100%;
}


.projects-table .row {padding-left: 2%; }
 
#projects-row1 img, #projects-row2 img, #projects-row3 img{
    opacity: 0.8;
    transition-duration: 0.1s;
}


.project {
    min-width: 50%; 
}

.project img {
    height: 100%;
    width: 50%;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    display: block;
}

#projects-row1 img:hover {
    opacity: 1;
}

#projects-row2 img:hover {
    opacity: 1;
}

#projects-row3 img:hover {
    opacity: 1;
}

.projects-mobile {
    display: none;
}

.project-caption {
    min-width: 50%;
    max-width: 50%;
    display: table-cell; 
    text-align: center;
    color: #05132D;
}

.pic4 {
    background-image: url(../assets/colours.jpg);
    background-repeat: no-repeat;
 /*   background-attachment: fixed;*/
    background-position: center; 
    background-size: cover;  
    width: 100%;
    min-height: 85%;
    height: 85%;
    filter: brightness(70%);
    filter: contrast (200%);
    opacity: 0.4;
    
    
}

.conclusion {
      
}

.footer {
    min-height: 15%;
    height: 15%;
    text-align: center;
    background-color:#05132D; 
    padding-top: 1%;
}
  
#footerContactButton  {
    
    
    color: white;
    transform: translate(0, -50%); 
    text-align: center;
}
    
#footerToTopButton  {
   
   
    color: white; 
    transform: translate(0, -50%); 
    text-align: center;
}
 































/* Media Queries under here */
@media only screen and (max-width: 540px) and (orientation: portrait) {
    

HTML {
    width: 100%; 
    margin: 0 auto;
}

body {
    width: 100%;   
    margin: 0 auto;
}

body, html {
    height: 100%;
}

.topbar {
  position:relative; 
  height: 20%;
  min-height: 20%;
    }
    
.topname {
  position: absolute;
    top: 50%;
    transform: translate(0, -50%);        
    }    

#firstname, #lastname {}

#firstname {}

#lastname {}

.topcontactbutton { 
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);   
    
    }
    
.pic1 {
background-image: url(../assets/7036557-city-night-photography-11058.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%; 
    padding-top: 125%;
    
}

.introtext {
    padding-top: 25%;
      
}

.pic2 {
     padding-top: 25%;
    
}

.skills-title-mobile {
    padding-left: 5%; 
    font-size: 220%;    
    }    
    
.skills-desktop {
    display: none;
    
}

.skills-mobile {
    min-height: 150%;
    height: 150%; 
    display: table; 
    min-width: 100%;
    }
    
    
.skills-table-mobile {
    min-height: 150%;
    height: 150%; 
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: 5%;
    }    

#skills-table-mobile-waypoint {
     opacity: 0.4;
    }
    
.skill {
    min-width: 90%;
    display: table-cell; 
    align-content: center;
}
    
.skill img {
    display:block;
    margin: 0 auto;
    width: 90px;
}    
.skill-caption {
    min-width: 50%;
    display: table-cell; 
    text-align: center;
    margin-left: 20%;
    padding-top: 10%; 
    padding-bottom: 5%;
}
    
.pic3 {    
}

.projects-mobile {
    min-height: 120%;
    height: 120%;
    display: table;
    margin: auto;
    text-align: center;
}

#projects-intro-text-mobile {
    margin-top: 3%; 
    font-size: 220%;
    padding-left: 2%;
    color: #05132D;
}
    
.projects-table-mobile {
    margin-top: 0;
    width: 100%;
    max-height: 100%;
}
 
.project {
    min-width: 100%;
}

.project img{
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    display: block;
    opacity: 1;
}
    
.project-caption {
    font-size: 110%;
    padding-bottom: 5%;
}

.projects-desktop {
    display: none;
}

.project-caption {
    min-width: 100%;
    display: table-cell; 
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}
    
.pic4 {
   
}
    
.conclusion {   
}

.footer {
   text-align: center;
    padding-top: 5%;
  
}

#footerContactButton {
    color: white;
   
    transform: translate(0, -50%); 
    text-align: center;
    }
    
#footerToTopButton {
    color: white;
    transform: translate(0, -50%); 
    text-align: center;
  
}

}































/* Media Queries under here */
@media only screen and (max-width: 740px) and (orientation: landscape) {
 
    .topbar {
        height: 20%;
        min-height: 20%;
        position: relative;
    }

    .topname {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);          
    }    

#firstname, #lastname {}

#firstname {}

#lastname {}

.topcontactbutton { 
   position: absolute;
    top: 50%;
    transform: translate(0, -50%);   
    }
 
.pic1 {
    min-height: 95%;
    height: 95%; 
    
    
}

.introtext {
   min-height: 95%;
   height: 95%;  
   padding-top: 8%;
    
}

.pic2 {
    min-height: 95%;
    height: 95%; 
    color: white;
    font-size: 220%;
    text-align: left;
    padding-left: 7%;
    padding-top: 8%; 
    
    
}       
    
 .skills-desktop {
    min-height: 85%;
    height: 85%; 
    display: table; 
    min-width: 100%;
}

.skills-table {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    }    

    
.skills-table-mobile {
    min-height: 85%;
    height: 85%; 
    display: none; 
   
}

.skill {
    min-width: 33%;
    display: table-cell; 
    align-content: center;
}
    
.skill img {
    display:block;
    margin:auto;   
        
}    

.skill-caption {
    min-width: 33%;
    display: table-cell; 
    text-align: center;
    
}  

.projects-desktop {
    min-height: 130%;
    height: 130%;
    display: table;
    margin: auto;
    width:100%;
}

.projects-table {
    margin-top: 0;
    width: 100%;
    max-height: 100%;
    margin-bottom: 2%;
}

.projects-table .row {padding-left: 2%; }
 
.project {
    min-width: 50%;
}

.project img {
    height: 100%;
    width: 50%;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    display: block;
}
    
#jqueryicon {
    max-height:50px;
    }

.projects-mobile {
    display: none;
}

#projects-intro-text {padding-left: 4%;}   
    
.footer{
    height:22%;
    min-height: 22%;
    padding-bottom: 2%;
}    
    
 #footerContactButton {
    
    color: white;
    text-align: center; 
    }
    
#footerToTopButton {
    color: white;
    text-align: center;
} 

}
    
